h1, h4, p {
    text-align: left; 
    color: rgb(11, 51, 1);
    text-align: relative;
}

i {
    color: white;
}

header {
    background:url('../images/food.jpeg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

header, container {
    width: 98%;
    margin-left: 1%;
}

#map {
    width: 80%;
    height: 300px;
    margin-top: -50px;
    margin-left: 10%;
    border-color: #ffffff;
    border-style: solid;
}