
* { 
    box-sizing: border-box;
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.brand-logo {
    margin-left: 20px;
    font-family: 'Assistant', sans-serif;
    
}

h4{
margin-left: 200px;
}

h6 {
    text-align: center;
    font-size: 18px;
} 

#row {
    position: center;
}

.modal{
width: 45%;
}

#title{
margin-left: 57px;
}

header {
    background:url('../images/restaurant.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

#map {
    width: 80%;
    height: 300px;
    margin-top: -50px;
    margin-left: 10%;
    border-color: #ffffff;
    border-style: solid;
}

#newsletter {
width: 35%;
margin-left: 375px;
}

footer{
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin-top: 35px;
    padding-bottom: 50px;
   
    font-size: 12px;
} 

.font-effect-destruction {
    -webkit-mask-image: url(//themes.googleusercontent.com/static/patterns/destruction.png);
    color: whitesmoke;
  }

/* #restaurants {
    margin-left: 43%;
    margin-top: -10px;
} */